* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    background: linear-gradient(0deg, #d81a1a 20%, #023fa0 100%);
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-bottom: 90px;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}

/* Input Section */
.input-section {
    flex: 60%;
    border: 1px solid #000;
    border-radius: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    background: #f3a513;
}

/* Titles */
.main-title, h2 {
    font-size: 48px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    color: #ffffff;
    text-shadow: #333 5px 5px 5px;
    font-style: italic;
}

.section-title {
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    margin: 10px 0;
    text-align: center;
}

/* Input and Button Containers */
.input-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin-top: 20px;
    gap: 15px;
}

.input-name {
    width: 500px;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px;
    font-size: 16px;
}

/* Button Styles */
button {
    padding: 15px;
    width: 120px;
    height: 50px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

button img {
    width: 20px;
    height: 20px;
    
}

.button-add {
    border-radius: 25px;
    background-color: #02c723;
}

.button-add:hover {
    background-color: rgb(38, 0, 255);
}
.button-draw {
    border-radius: 25px;
    background-color: #daff05e1;
}

.button-draw:hover {
    background-color: rgb(38, 0, 255);
}

.button-reset {
    border-radius: 25px;
    background-color: #ff0000;
}

.button-reset:hover {
    background-color: rgb(38, 0, 255);
}

/* Button Container */
.botones {
    display: flex;
    gap: 15px;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen {
    width: 350px;
    height: auto;
    margin-top: 30px;
}
.list-section {
    font-size: 20px;
    font-family: "Merriweather", serif;
    color: #ffffff;
    text-shadow: #333 5px 5px 5px;
    font-style: italic;
    margin-bottom: 50px;
}

#delete {
    text-decoration: none;
    width: 60px;
    border-color: transparent;
    margin-top: -25px;
    text-shadow: none;
    border-radius: 0%;
    margin-left: 100px;	
    height: 5px;
    background-color: transparent;
    color: #edfd08;
}

#delete:hover {
    background-color: transparent;
    color: #fd1008;
}

.name-item{
    font-size: 20px;
    font-family: "Merriweather", serif;
    color: #ffffff;
    text-shadow: #333 5px 5px 5px;
    font-style: italic;
    padding-bottom: 10px;
}

.tituloAmigosIngresados {
    margin-bottom: 30px;
}

.imgadd{
    width: 30px;
    height: auto;
}

.imgsort{
    width: 23px;
    height: auto;
}
.imgreset{
    width: 20px;
    height: auto;
}
      
/* Responsive Design */
@media (max-width: 768px) {
    .main-title {
        font-size: 36px;
    }

    .section-title {
        font-size: 24px;
    }

    .input-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .input-name {
        width: 90%;
    }

    .botones {
        margin-top: 15px;
        justify-content: center;
    }

    .imagen {
        width: 50%;
        height: auto;
        margin-top: 60px;
    }

    .contenedor {
        flex-direction: column;
    }
    .header-banner {
        flex-direction: column-reverse;
    }
    .input-section {
        width: 90%;
    }
}